<div class="table-responsive">
<table class="table table-bordered dataTables-example">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th class="text-center">Tình Trạng</th>
            <th class="text-center operation">Thao tác</th>
           
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td> {{ user.get_full_name }}</td>
                <td> {{ user.email }}</td>
                <td> {{ user.account.phone_number }}</td>
                <td> {{ user.account.address }}</td>
                <td class="text-center">  
                    <input type="checkbox" 
                    {% if user.is_active %}checked{% endif %} 
                    class="js-switch status " 
                    data-model="user"
                    data-field="is_active" data-modelId="{{ user.id }}">
                </td>
                <td class="text-center">
                    <a href="{%url 'edit_user' user.id%}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    <a href="{%url 'delete_user' user.id%}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- Thêm script để xử lý sự kiện thay đổi status và gửi yêu cầu AJAX -->
<script>
    $(document).ready(function () {
        // Bắt sự kiện khi checkbox status thay đổi
        $('.status').change(function () {
            var id = $(this).data('modelid');  // Đã sửa ở đây
            var isChecked = $(this).prop('checked');
        
            // Gửi yêu cầu AJAX để cập nhật trạng thái
            $.ajax({
                type: 'POST',
                url: '/update_status_user/',  
                data: {
                    'id': id,
                    'is_active': isChecked ? '1' : '0',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log('Cập nhật trạng thái thành công');
                },
                error: function () {
                    console.log('Lỗi khi cập nhật trạng thái');
                }
            });
        });
    });
</script>

