{% load static %}
<title>{%block title%}Đăng Ký- UHL{%endblock%}</title>
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'component/head.html' %}
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown ">
        <div class="m-t-lg">
            <div >
                <img width=300px, src="{%static 'assets/img/logo/logo-UHL.png'%}" alt="">
            </div>
            <h2 class="m-t-lg m-b-lg font-bold ">Thay đổi mật khẩu</h2>
           
            {% if messages %}
                
                {% for message in messages %}
                <p class="text-danger"><i>
                    {{ message }}
                </i></p>
                {% endfor %}
                
            {% endif %}
            <p>
                Nhập thông tin thay đổi mật khẩu
            </p>
            <form class="m-t" role="form" method="post" action="{% url 'reset_password' %}" onsubmit="return validatePassword()">
                {% csrf_token %}
                <div class="form-group ">
                    <input  name="email" type="text" class="form-control" value="{{ email }}"  placeholder="Email" readonly>
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control"  placeholder="Mật khẩu" aria-required="true" aria-invalid="true" required>
                </div>
                <div class="form-group">
                    <span id="confirmError" class="text-danger error-message"></span>
                    <input id="confirm" name="confirm" type="password" class="form-control" placeholder="Nhập lại mật khẩu" aria-required="true" aria-invalid="true" required> 
                </div>
                <button type="submit" class="btn btn-primary full-width m-b"  data-style="zoom-in">Xác nhận email</button>
            </form>
            <p class="m-t"> <small>Bản quyền thuộc Đại học Hạ Long &copy; 2024</small> </p>
        </div>
    </div>
    <script>
   
        function validatePassword() {
                var passwordField = document.getElementById('password');
                var confirmField = document.getElementById('confirm');
                var confirmError = document.getElementById('confirmError');
        
                if (confirmField.value !== passwordField.value) {
                    confirmError.textContent = 'Nhập lại mật khẩu không khớp';
                    return false;
                } else {
                    confirmError.textContent = '';
                    return true;
                }
        }
        </script>
    {% include 'component/script.html' %}
</body>

</html>