{% extends 'base.html' %} {% load static %} {% block main-content%}

{% include 'component/breadcrumb.html' with title=title %}

<div class="wrapper wrapper-content  fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-uppercase">Danh sách trạng thái xử lý văn bản</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a class="changeStatusAll" data-value="2"  data-field ="status" data-model='' >Active toàn bộ</a>
                        </li>
                        <li><a class="changeStatusAll" data-value="1" data-field ="status" data-model='' >Unactive toàn bộ</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="filter-wrapper">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between ">
                        <div class="perpage">
                        </div>
                        <div class="action">
                            <div class="uk-flex uk-flex-middle ">
                                <a href="{% url 'add_docu_status'%}" class="btn btn-danger"><i class="fa fa-plus mr5"></i>Thêm trạng thái xử lý văn bản</a>       
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'document/docustatus/component/table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content%}