{% extends 'base.html' %} 
{% load static %} 
{% block main-content%} 
{% include 'component/breadcrumb.html' with title=title %}

<form action="{% url 'edit_task' task_url=task.url %}"method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="text-right mb15">
        <button type="submit" class="btn btn-info "><i class="fa fa-plus mr5"></i>Lưu lại</button>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel-title">Thông tin chung</div>
            <div class="panel-desription"><p>Nhập thông tin của công việc</p>
                <p>Lưu ý: Những trường đánh dấu <span class="text-danger">(*)</span> là bắt buộc</p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row mb15">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Tiêu đề
                                    <span class="text-danger">(*)</span>
                                </label>
                                {{form.title}}
                             </div>
                        </div>
                    </div>
                   

                    <div class="row mb15">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">
                                    Mô tả công việc
                                </label>
                                {{form.description}}
                            </div>
                        </div>
                    </div>

                    <div class="row mb15">
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Ngày bắt đầu
                                    <span class="text-danger">(*)</span>
                                </label>
                                {{form.start_date}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">
                                   Ngày kết thúc
                                </label>
                                {{form.end_date}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Trạng thái
                                    <span class="text-danger">(*)</span>
                                </label>
                                {{form.status}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">
                                   Độ ưu tiên
                                </label>
                                {{form.priority}}
                            </div>
                        </div>
                    </div>

                    <div class="row mb15">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Nhân viên thụ việc
                                    <span class="text-danger">(*)</span>
                                </label>
                                {{form.assigned_users}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Nhân viên đã thụ việc
                                    <span class="text-danger">(*)</span>
                                </label>
                                {{form.confirmed_users}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-12 ">
                            <div class="form-row ">
                                <label for="" class="control-lable text-right">
                                    <div class="form-row text-center d-flex align-items-center">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus mr5" ></i>Thêm file</button>       
                                    </div>    
                                </label>
                                {{ form.uploadfile}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-12 ">
                            <div class="form-row">
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                      {% if files %}
                                      <ul>
                                        {% for file in files %}
                                        <li>
                                          {{ file.file.name }}
                                          <a href="{{ file.file.url }}" target="_blank">Xem</a>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                      {% endif %}
                                    </div>
                                  </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-12 ">
                            <div class="form-row ">
                                <label for="" class="control-lable text-right">
                                   File tiến độ 
                                </label>
                                {{ form.taskfiles}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-12 ">
                            <div class="form-row">
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                      {% if files_task %}
                                      <ul>
                                        {% for file in files_task %}
                                        <li>
                                          {{ file.file.name }}
                                          <a href="{{ file.file.url }}" target="_blank">Xem</a>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                      {% endif %}
                                    </div>
                                  </div>
                            </div>
                        </div> 
                    </div>

                    <div class="row mb15">
                    
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right" >Tiến độ</label>
                                {{form.sum_progress}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right" >Người tạo </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="created_at"
                                  value="{{task.creator}}"
                                  placeholder="Mời nhập thông tin"
                                  readonly 
                                  autocomplete="off"/>
                            </div>
                        </div>
        
                    </div>
                    <div class="row mb15">
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right" >Ngày tạo </label>
                                <input
                                  type="date"
                                  class="form-control"
                                  name="created_date"
                                  value="{% if task.created_date %}{{ task.created_date|date:'Y-m-d' }}{% endif %}"
                                  placeholder="Mời nhập thông tin"
                                  readonly 
                                  autocomplete="off"/>
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="form-row">
                                <label for="" class="control-lable text-right">Ngày cập nhật </label>
                                <input
                                type="date"
                                class="form-control"
                                name="updated_date"
                                value="{% if task.updated_date %}{{ task.updated_date|date:'Y-m-d' }}{% endif %}"
                                placeholder="Mời nhập thông tin"
                                readonly
                                autocomplete="off"/>
                            </div>
                        </div>
        
                    
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>
    <div class="text-right mb15">
        <button type="submit" class="btn btn-info "><i class="fa fa-plus mr5"></i>Lưu lại</button>
    </div>
</div>
</form>

{% include 'component/uploadfile.html' %}

{% endblock main-content%}
